<div class="row formCard">
	<h2 class="profileTitle titles">Sign Up</h2>
  <br>
  <%= form_for(@user) do |f| %>

</div>


    <div class="row form">
    	<div class="large-6 columns">

    	
        <%= f.text_field :email, placeholder: "Email", class: "form-control"  %>
        <%= f.password_field :password, placeholder: "Password", class: "form-control"  %>
        	<div>
          <button type="submit" class="button interests">Submit</button>
          </div>
    <% end %>
